.description{
    grid-area: description;
    box-sizing: border-box;
    font-family: monospace;
}

.description p{
    margin: 0;
    border: 1px solid black;
    padding: .5rem;
    background: #51AE5F;
    border-radius: .5rem;
    color: black;
    block-size: 7rem;
    overflow: auto;
}