.dots{  
    inline-size: 3rem;
    position: absolute;
    inset-block-end: 0;
    transform: translateY( calc(-1.375rem + 50% ) ) ;
    inset-inline-start: calc(50% - 1.5rem);
    block-size: 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
}

.dot{
    display: inline-block;
    inline-size: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    background: var(--primary); 
}