.stripes{
    inline-size: 1.375rem;
    position: absolute; 
    inset-block-end: 0;
    transform: translateY( calc(-1.375rem + 50% ) ) ;
    inset-inline-end: 1.5rem;
}

.stripe {
    display: block;
    inline-size: 100%;
    block-size: 2px;
    background: var(--secondary);
    margin-block-start: 2px;
}